### Change topic to compact ###
# kafka-configs --bootstrap-server broker-service:9092 --entity-type topics --entity-name aggregated-inventory --alter --add-config cleanup.policy=compact
#
### Change retention policies ###
# kafka-configs --bootstrap-server broker-service:9092 --entity-type brokers --entity-name 1 --alter --add-config-file ./kafka.config
# Brober Configuration
log.retention.ms=1000
log.cleaner.max.compaction.lag.ms=1000
segment.ms=30000